body {
	font-size: 15px;
    line-height: 1.52;
    color: #f5f5f7;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden; 
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    opacity: 1;
  }
  
  .navbar .nav-item .nav-link {
    color: rgb(255, 255, 255);
  }
  
#event{
    background: linear-gradient(rgba(99, 99, 99, 0.8), rgba(14, 15, 15, 0.5)),url(../img/evento/background.jpg);
    background-size: cover;
    background-position: center;
    min-width: 600px;
    
}
.left-images img {
    height: 308px;
    width: 100%;
}
.left-images{
    padding: 0px;
}
.details-text {
    border-right: 2px solid #3835cc;
}
.header-h{
    color:white;
}

.header-p{
color:white;
}

.details-text {
    background-color: rgba(3, 3, 3, 0.7);
    border-right: 2px solid rgb(71, 135, 177);
    padding: 20px 20px 30px 30px;
    overflow: auto;
}
.content-holder h2 {
    color: rgb(48, 144, 207);
    font-size: 32px;
    padding-bottom: 15px;
    
}
.content-holder address strong {
    color:  rgb(48, 144, 207);
    padding: 10px 0px;
}
.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}

.btn-inscribir-torneo {
    padding: 7px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    color:black;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-read-more:hover
{
    color:white;
}

a .fab {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0 10px;
  
}

.team, footer {
    background:rgb(39, 70, 206);
}


#icono{
    width: 20%;
  }